#content-image-user {
    /* background-color: red; */
    margin-left: 480px;
    margin-top: 80px;
    display: flex;
    width: 405px;
    height: auto;
}

#player {
    border-radius: 65px;
    width: 400px;
}

#button-capture {
    /* background-color: red; */
    margin-left: 605px;
    margin-top: -330px;
    display: flex;
    width: 500px;
    height: 300px;
}

#capture {
    z-index: 998;
    margin-top: 315px;
    margin-left: -50px;
    height: 30px;
    width: 250px;
    border-radius: 65px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--buttom-color);
    border: none;
    color: white;
}

#snapshot {
    /* background-color: blue; */
    border-radius: 100%;
    width: 160px;
    height: 160px;
}

#content-info {
    background-color: red;
    border-radius: 65px;
    width: 400px;
    height: 0px;
    margin-left: 480px;
}

.svg-alert {
    margin-left: 186px;
    margin-top: 50px;
}

.text-info-p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    margin-top: 8px;
}