form {
    background-color: white;
    margin: 80px auto;
    padding: 5px;
    border-radius: 8px;
    max-width: 800px;
    margin-left: -870px;
    margin-top: -50px;
}

form fieldset {
    margin-top: 100px;
    border: 0;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

form .field-group {
    display: flex;
}

form input {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

form .field-group .field+.field {
    margin-left: 24px;
}

form button {
    width: 500px;
    height: 40px;
    background-color: #2fd86e;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 10px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fd86e;
}

.canva-snapshot {
    margin-top: 30px;
    margin-left: -125px;
    border-radius: 65px !important;
    height: 300px !important;
    width: 400px !important;
}

.confirm {
    margin-top: 30px;
    margin-left: 528px;
    width: 300px;
    height: 80px;
}

.confirm, .text-confirm {
    text-align: center;
}

#register-user {
    width: 300px;
    height: 40px;
    background-color: #2fd86e;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 10px;
    transition: background-color 400ms;
}

#register-user:hover {
    background-color: white;
    color: #2fd86e;
}

#yes {
    margin-top: 10px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    background-color: #2fd86e;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 10px;
    transition: background-color 400ms;
}

#yes:hover {
    background-color: white;
    color: #2fd86e;
}

#no {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    background-color: tomato;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 10px;
    transition: background-color 400ms;
}

#no:hover {
    background-color: white;
    color: tomato;
}

.confirm-image {
    margin-top: -65px;
    margin-left: 615px;   
}