form {
    background-color: white;
    margin: 80px auto;
    padding: 5px;
    border-radius: 8px;
    max-width: 800px;
    margin-left: -885px;
    margin-top: -50px;
}

form fieldset {
    background-color: white;
    margin-top: 100px;
    border: solid 20px;
    border-radius: 20px;
    border-color: white;
}

form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

form .field-group {
    display: flex;
}

form input {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
}

form .field-group .field+.field {
    margin-left: 24px;
}

form button {
    width: 500px;
    height: 40px;
    background-color: #2fd86e;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 10px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fd86e;
}

.canva-snapshot {
    margin-top: 30px;
    margin-left: -125px;
    border-radius: 65px !important;
    height: 300px !important;
    width: 400px !important;
}

.confirm {
    margin-top: 30px;
    margin-left: 528px;
    width: 300px;
    height: 80px;
}

.confirm, .text-confirm {
    text-align: center;
}

#register-user {
    width: 300px !important; 
    height: 40px !important;
    background-color: #2fd86e !important;
    border-radius: 8px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 16px !important;
    border: 0 !important;
    margin-top: 10px !important;
    transition: background-color 400ms !important;
}

#register-user:hover {
    background-color: white !important;
    color: #2fd86e !important;
}

#next-page-register {
    width: 500px !important; 
    height: 60px !important;
    background-color: #2fd86e !important;
    border-radius: 8px !important;
    color: white !important;
    font-weight: bold !important;
    font-size: 16px !important;
    border: 0 !important;
    margin-top: 10px !important;
    transition: background-color 400ms !important;
}

#next-page-register:hover {
    background-color: white !important;
    color: #2fd86e !important;
}

.confirm-image {
    margin-top: -65px;
    margin-left: 615px;   
}

.text-confirm {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.image-background {
    margin-top: 250px;
    position: fixed;
    height: 500px;
    width: 100%;
    /* bottom: 0; */
    z-index: -1;
}