@media screen and (max-width: 1300px) {
    #content-menu {
        height: 40px;
        width: 100%;
        display: flex;
    }

    .menu-cells {
        width: 100%;
        height: 40px;
        margin-left: 0%;
    }

    a {
        width: auto;
        margin-left: 530px;
    }
}

@media screen and (max-width: 650px) {
    #content-menu {
        height: 40px;
        width: 100%;
        display: flex;
    }

    .menu-cells {
        width: 100%;
        height: 40px;
        margin-left: 0%;
    }

    a {
        width: auto;
        margin-left: 190px;
    }

    #content-image-user {
        margin-left: 140px;
    }

    #button-capture {
        margin-left: 140px;
    }

    #capture {
        margin-left: -323px;
    } 
}

@media screen and (max-width: 930px) {
    #content-menu {
        height: 40px;
        width: 100%;
        display: flex;
    }

    .menu-cells {
        width: 100%;
        height: 40px;
        margin-left: 0%;
    }

    a {
        width: auto;
        margin-left: 190px;
    }

    #content-image-user {
        margin-left: 140px;
    }

    #button-capture {
        margin-left: 140px;
    }

    #capture {
        margin-left: -323px;
    }
}