{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename="css/index.css") }}">
{% endblock head%}

{% block content %}
<img class="image-initial" src="{{ url_for('static', filename="images/index.png") }}">
<div class="container">
    <span class="text1">Reconhecimento facial</span>
    <span class="text2">Desenvolvido por alunos da UNIP</span>
</div>
<button id="next-page-login" onclick="window.location.href = 'login'" type="button">Iniciar</button>
{% endblock content %}