<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importação do css do bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap/bootstrap.min.css") }}">
    <title>{% block title %}Projeto{% endblock %}</title>
    {% block head %}
    {% endblock head%}
</head>
<body>

    {% block content %}
    {% endblock content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename="js/bootstrap/bootstrap.min.js") }}"></script>
</body>
</html>