{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename="css/capture-image.css") }}">
<link rel="stylesheet" href="{{ url_for('static', filename="css/menu.css") }}">
<link rel="stylesheet" href="{{ url_for('static', filename="css/responsive.css") }}">
<link rel="stylesheet" href="{{ url_for('static', filename="css/login.css") }}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto:wght@500;700&display=swap"
    rel="stylesheet">

{% endblock head%}

{% block content %}
<img class="image-background" src="{{ url_for('static', filename="images/enter.png") }}">
<div id="content-menu">
    <div class="menu-cells">
        <a id="home" href="/">Inicial</a>
        <a id="sign-in" href="#">Entrar</a>
        <button id="sign-up" onclick="window.location.href = 'register'">Cadastra-se</button>
    </div>
</div>
<div id="content-image-user">
    <video id="player" autoplay></video>
</div>
<div id="button-capture">
    <canvas id="snapshot" width=500 height=500 style="border-style: solid;
    border-color: #7ae582;
    border: solid 1;" hidden></canvas>
    <button id="capture" class="particles-button">Capturar</button>
</div>
<div id="content-info">
    <svg class="svg-alert" width="1.5em" height="1.4em" viewBox="0 0 16 16" class="bi bi-exclamation-square-fill"
        fill="#ffee32" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
    </svg>
    <p class="text-info-p"> Para realização do reconhecimento facial é preciso possuir uma Webcam. <br>
        Para continuar o processo de reconhecimento facial <br> clique no botão acima.
    </p>
</div>
<form action="#" id="content-login" hidden>
    <fieldset>
        <div class="field">
            <label for="username">Usuário</label>
            <input id="username" type="text" placeholder="Usuario" required>
        </div>
        <div class="field">
            <label for="password" class="label-password">Senha</label>
            <input id="password" type="password" placeholder="Senha" required>
        </div>
        <div class="button-login">
            <input id="submit" onclick=loginUser() type="button" value="Entrar">
        </div>
    </fieldset>
</form>
<script>
    // Script Jquery
    setTimeout(function () {
        $('#content-info').fadeOut('fast');
    }, 15000);
</script>
<script src="{{ url_for('static', filename="js/capture-image.js") }}"></script>
<script src="{{ url_for('static', filename="js/login/login.js") }}"></script>


{% endblock content %}